a{
    text-decoration:none;
    color: #000;
}

ul{
    list-style:none;
}

ul ul{
    display:none;
}

ul ul li a{
    color: #8b8b8b
}

ul li:hover ul{
    display:block
}

ul li a:hover{
   text-decoration:underline;
   
}